<p id="notice"><%= notice %></p>

<h1>Task Generators</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Circle</th>
      <th>Created by</th>
      <th>Mandatory</th>
      <th>Every n</th>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tues</th>
      <th>Wed</th>
      <th>Thurs</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Part of day</th>
      <th>Custom time</th>
      <th>Last run</th>
      <th>Look ahead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_generators.each do |task_generator| %>
      <tr>
        <td><%= task_generator.description %></td>
        <td><%= task_generator.category %></td>
        <td><%= task_generator.circle %></td>
        <td><%= task_generator.created_by %></td>
        <td><%= task_generator.mandatory %></td>
        <td><%= task_generator.every_n %></td>
        <td><%= task_generator.sun %></td>
        <td><%= task_generator.mon %></td>
        <td><%= task_generator.tues %></td>
        <td><%= task_generator.wed %></td>
        <td><%= task_generator.thurs %></td>
        <td><%= task_generator.fri %></td>
        <td><%= task_generator.sat %></td>
        <td><%= task_generator.part_of_day %></td>
        <td><%= task_generator.custom_time %></td>
        <td><%= task_generator.last_run %></td>
        <td><%= task_generator.look_ahead %></td>
        <td><%= link_to 'Show', task_generator %></td>
        <td><%= link_to 'Edit', edit_task_generator_path(task_generator) %></td>
        <td><%= link_to 'Destroy', task_generator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task Generator', new_task_generator_path %>
