<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.role.name %></td>
        <td><%= position.user %></td>
        <td><%= link_to 'Show', circle_position_path(@circle, position) %></td>
        <td><%= link_to 'Edit', edit_circle_position_path(@circle, position) %></td>
        <td><%= button_to 'Destroy', circle_position_path(@circle, position), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>