<p id="notice"><%= notice %></p>

<p>
  <strong>Accepted:</strong>
  <%= @invitation.accepted %>
</p>

<p>
  <strong>Reject:</strong>
  <%= @invitation.reject %>
</p>

<p>
  <strong>Position:</strong>
  <%= @invitation.position_id %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @invitation.sender_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @invitation.email %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
