<%= form_with(model: important_info_piece, local: true) do |form| %>
  <% if important_info_piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(important_info_piece.errors.count, "error") %> prohibited this important_info_piece from being saved:</h2>

      <ul>
      <% important_info_piece.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :circle_id %>
    <%= form.text_field :circle_id %>
  </div>

  <div class="field">
    <%= form.label :created_by_id %>
    <%= form.number_field :created_by_id %>
  </div>

  <div class="field">
    <%= form.label :seen_by %>
    <%= form.number_field :seen_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
