<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @important_info_piece.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @important_info_piece.category %>
</p>

<p>
  <strong>Circle:</strong>
  <%= @important_info_piece.circle %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @important_info_piece.created_by_id %>
</p>

<p>
  <strong>Seen by:</strong>
  <%= @important_info_piece.seen_by %>
</p>

<%= link_to 'Edit', edit_circle_important_info_piece_path(@important_info_piece) %> |
<%= link_to 'Back', circle_important_info_pieces_path %>
