<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @post.created_by %>
</p>

<p>
  <strong>Medical:</strong>
  <%= @post.medical %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
